<h3>Article #{{article.id}}</h3>
<form method="POST">
	<div class="form-group">
		<label for="title" class="form-control-label">Title</label>
		<input type="text" placeholder="{{article.title}}" name="title" id="title" class="form-control w-50"/>
	</div>


	<div class="form-group">
		<label for="body" class="form-control-label">Text</label>
		<textarea id="body" name="body" class="form-control w-50" rows="10" placeholder="{{article.body}}"></textarea>
	</div>

	<div class="form-group">
		<label for="cat" class="form-control-label">Categorys</label>
		
		<ul id="cat">
			{% for cat in categorys %}
			
			<li> 
				<input type="checkbox" name="categorys[]" value="{{cat.id}}" {% if cat.id in used_cat %} checked {% endif %}>{{cat.name}}
			</li>
			{% endfor %}
		</ul>

	</div>


	<button type="submit" class="btn btn-primary btn-sm">Edit</button>
</form>
