<h3>Article #{{article.id}}</h3>

<p><strong>Title :</strong> {{article.title}}</p>
<p><strong>Body :</strong> {{article.body}}</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Category ID</td>
			<td>Category Name</td>
		</tr>
	</thead>
	<tbody>
		{% for item in article.category %}
		<tr>
			<td>{{item.id}}</td>
			<td>{{item.name}}</td>
			
		</tr>
		{% endfor %}
	</tbody>
</table>