
<form method="POST">
	<div class="form-group">
		<label for="title" class="form-control-label">Title</label>
		<input type="text" name="title" id="title" class="form-control w-50" />
	</div>


	<div class="form-group">
		<label for="body" class="form-control-label">Text</label>
		<textarea id="body" name="body" class="form-control w-50" rows="10"></textarea>
	</div>

	<button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
