
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Title</td>
			<td>Author</td>
			<td>Create At</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		{% for item in data %}
		<tr>
			<td>{{item.title}}</td>
			<td>{{item.author.username}}</td>
			<td>{{item.create_at | date('d/m/Y H:i')}}</td>
			<td>
				<a href="/{{panelpath}}/articles/view/{{item.id}}" class="btn btn-sm btn-info">
					<i class="fa fa-eye"></i>
				</a>

				<a href="/{{panelpath}}/articles/edit/{{item.id}}" class="btn btn-sm btn-warning">
					<i class="fa fa-edit"></i>
				</a>

				<a href="/{{panelpath}}/articles/r/{{item.id}}" class="btn btn-sm btn-danger">
					<i class="fa fa-trash"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="row">
	<a class="btn btn-success" href="/{{panelpath}}/articles/add">
		<i class="fa fa-plus"></i> Add
	</a>
</div>
