
<table class="table table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>Username</td>
			<td>Fullname</td>
			<td>Email</td>
			<td>Create At</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		{% for user in data %}
		<tr>
			<td>{{user.id}}</td>
			<td>{{user.username}}</td>
			<td>{{user.firstname}} {{user.lastname}}</td>
			<td>{{user.email}}</td>
			<td>{{user.create_at | date('d/m/Y H:i')}}</td>
			<td>
				<a href="/{{panelpath}}/users/{{user.id}}" class="btn btn-sm btn-danger">
					<i class="fa fa-eye"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

