
<h1>({{ user.articles|length }}) Article(s) published</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Title</td>
			<td>Create At</td>
		</tr>
	</thead>
	<tbody>
		{% for item in user.articles %}
		<tr>
			<td>{{item.title}}</td>
			<td>{{item.create_at | date('d/m/Y H:i')}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

