 {% extends "panellayout.twig" %}

 {% block title %}{{title}}{% endblock %}

 {% block assets %}
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 <link href="/WebRoot/panel/style.css" rel="stylesheet">

 {% endblock %}

{%block sidemenu %}

<div class="nav-side-menu">
    <div class="brand">Panel</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li class="{{ selected.main == 'home' ? 'active' : '' }}">
                  <a href="/{{panelpath}}/">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#articles" class="collapsed ">
                  <a href="#">
                    <i class="fa fa-gift fa-lg"></i> Articles <span class="arrow"></span>
                  </a>
                </li>
                <ul class="sub-menu collapse {{ selected.main == 'articles' ? 'show' : '' }}" id="articles">
                    <li class="{{ (selected.main == 'articles' and selected.sub == 'list') ? 'active' : '' }}">
                      <a href="/{{panelpath}}/articles/list">List</a>
                    </li>

                    <li class="{{ (selected.main == 'articles' and selected.sub == 'add') ? 'active' : '' }}">
                      <a href="/{{panelpath}}/articles/add">Add</a>
                    </li>
                </ul>

                <li  data-toggle="collapse" data-target="#users" class="collapsed ">
                  <a href="#">
                    <i class="fa fa-gift fa-lg"></i> Users <span class="arrow"></span>
                  </a>
                </li>

                <ul class="sub-menu collapse {{ selected.main == 'users' ? 'show' : '' }}" id="users">
                    <li class="{{ (selected.main == 'users' and selected.sub == 'list') ? 'active' : '' }}">
                      <a href="/{{panelpath}}/users">List</a>
                    </li>
                </ul>

                <li>
                  <a href="/{{panelpath}}/logout">
                    <i class="fa fa-user fa-lg"></i> Logout
                  </a>
                </li>

            </ul>
     </div>
</div>

{% endblock %}

{% block content %}
  <div class="container pt-4">

    {% if notify is defined %}
        {% if not notify.type %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{notify.text.main}}</strong> {{notify.text.sub}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}

      {% if notify.type %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{notify.text.main}}</strong> {{notify.text.sub}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}

    {% endif %}

    <div class="container">
    	{% if includepage is not empty %}
  		  {{ include('pages/' ~ includepage ~ '.html') }}
  	  {% endif %}
    </div>

  </div>

{% endblock %}


