 {% extends "panellayout.twig" %}

 {% block title %}Login{% endblock %}
 
 {% block assets %}{% endblock %}

 {% block content %}
  <div class="container">
    <div class="row">
          <h4 class="text-danger">{{error}}</h4>
    </div>
    <div class="row">
        <form method="POST">
          <div class="form-group">
            <label class="form-label" for="username">Username</label>
            <input id="usernale" type="text" id="username" class="form-control" name="user" required>
          </div>

          <div class="form-group">
            <label class="form-label" for="username">Password</label>
            <input id="usernale" type="password" id="username" class="form-control" name="pass" required>
          </div>

          <button type="submit" class="btn btn-success">Login</button>
        </form>
                
    </div>
    
  </div>
{% endblock %}
