<!DOCTYPE html>
<html lang="en">
<head>
  <title>LiteFram -{% block title %}Panel{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {%block assets %}
  {% endblock %}
</head>
<body>
{%block sidemenu %}

<div class="nav-side-menu">
</div>

{% endblock %}
<div style="padding-left: 350px">
  {% block content %}
    <div></div>
  {% endblock %}
</div>
</body>
</html>
