{% extends "layout.twig" %}

{% block content %}
 <div class="card">
  <h5 class="card-header">Articles</h5>
  	{% for data in articles %}
	  <div class="card-body">
	    <h5 class="card-title">{{data.title}}</h5>
	    <p class="card-text">{{data.body | slice(0,55)}}</p>
	    <a href="/article/{{data.id}}" class="btn btn-primary">Read</a>
	  </div>
	{% endfor %}
</div>
{% endblock %}


