{% extends "layout.twig" %}

{% block content %}
<div class='row'>
	<div class="col-md-6">
	  <h3>{{title}}</h3>
	  <p>Hello World !!</p>
	  <img src='https://media.giphy.com/media/3o6Zt3HCc2aSiCCLbG/source.gif'>
	</div>
	<div class="col-md-6">
  		{% for data in extra %}
  			<div style=" border-bottom: 1px solid blue;">
  				<p>Title : {{data.title}}</p>
  				<p>username : {{data.author}}</p>
  				<p>Body : {{data.body}}</p>
  			</div>
  		{% endfor %}
	</div>
</div>
{% endblock %}


