<!DOCTYPE html>
<html lang="en">
<head>
  <title>LiteFram Exemple</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/panel/">Go To Panel</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/blog">Blog</a>
    </li>

  </ul>
</nav>

<div class="container p-5">
	<div class="container">
	 {% block content %}

   {% endblock %}
	</div>
</div>




</body>
</html>
